@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');


.t1 h1{
    color: #DDDDDD;
    font-size: 50px;
    padding-top: 30px;
    padding-left: 50px;
    font-family: "Sofia", sans-serif;
    text-shadow: 2px 2px grey;    
}

.main{
    margin-top: 0;
    font-family:'Londrina Solid', cursive;
}
.box{
    display: inline-block;
    justify-content: space-between;
    background: none;
    width: 300px;
    height: 300px;
    margin: 80px;
    font-size: 20px;
    vertical-align: top;
    box-shadow: 10px 10px 5px grey;
}
.question{
    align-content: center;
    color: white;
    padding: 10px;
}
.question:hover{
    color: black;
}
.answer{
    align-content: center;
    padding: 10px;
    color: white;
}
.answer:hover{
    color: black;}

.c1{
    border: grey solid 3px;
    background-image: linear-gradient(to bottom, #C62368 , white);
}
.c2{
    border: grey  solid 3px;
    background-image: linear-gradient(to bottom,  #FA7268, white );
}
.icons{
    float: right;
    font-size:xx-large;
    /* padding-top: 150px; */
    padding-right: 10px;
    color: white;
    z-index: 12;
}
.fa-smile-beam{
    padding: 10px;
}
.like{
    color: #3A6351;
    font-size:1000;

}
.dislike{
    color: #810034;
    font-size:1000;

}
.fa-smile-beam:hover{
    color: #3A6351;
}
.fa-frown:hover{
    color: #810034;
}

.fa-chevron-circle-up{
    font-size:xx-large;
}

.scroll-up-btn{
    position: fixed;
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 20px;
    color: #C62368;
    font-size: 100px;
    opacity: 0;
}
.scroll-up-btn:hover{
    color: #FA7268;
    
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events:auto;
}

.footer{
    justify-content: center;
    padding-left: 500px;
    width: auto; 
    height: 300px;
    background-image: url("img/background-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer p{
    padding-top: 180px;
    padding-bottom:20px;
    margin-bottom: 600px; 
    color: white;
    width: auto;
    
}
#foot a{
    color: white; 
}
